<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="AksesDatabase3.My.MySettings.dbAksesConnectionString"
            connectionString="Data Source=|DataDirectory|\dbAkses.sdf"
            providerName="Microsoft.SqlServerCe.Client.3.5" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v2.0.50727" />
    </startup>
</configuration>